// Typography

$ff-inter: "Inter", "Arial", sans-serif;
$fz-default: 16px;

// Viewports

$vp-1440: 1440px;
$vp-768: 768px;

// Colors
$color-transparent: rgba(0, 0, 0, 0);
$color-space-shuttle: #403f3d;
$color-pearl-bush: #e1d4c9;
$color-makara: #665f55;
$color-tide: #c1b6ad;
$color-sandrift: #b0907a;

// Animation
$trans-300: 300ms;
$trans-500: 500ms;
$trans-2000: 2000ms;

