.header {
    padding: 20px 0;
}

.header__wrapper {
  font-weight: 600;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

    @include vp-1439 {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &.is-open {
        .header__button::before,
        .header__button::after {
            left: 12px;
            transition-delay: 0s, $trans-300;
        }

        .header__button::before {
            top: 20px;
            transform: rotate(45deg);
        }

        .header__button::after {
            top: 20px;
            transform: rotate(-45deg);
        }



        @media (max-width: ($vp-768)) {
            .header__nav-wrapper {
                right: -40px;
                padding-top: 220px;
            }
        }

        @include vp-767 {
            .header__nav-wrapper {
                right: -16px;
                padding-top: 58px;
            }
        }
    }
}

.header__logo {
  flex-shrink: 0;
}

.header__nav-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;

    @media (max-width: ($vp-768)) {
        display: grid;
        position: absolute;
        right: -200vw;
        width: 100vw;
        top: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        background-color: $color-pearl-bush;
        z-index: 1;
        padding-top: 58px;
        gap: 96px;
        height: calc(100vh - 100px);
        background-color: $color-pearl-bush;
        justify-items: center;
        transition: right $trans-2000 ease;
        overflow-y: auto;
    }
}

.header__nav {
    grid-column: 2 / 3;

    @media (max-width: ($vp-768)) {
        grid-column: 1 / -1;
        padding: 0;
    }
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (max-width: ($vp-768)) {
        flex-direction: column;
        align-items: center;
    }
}

.header__nav-item {
    display: flex;
}

.header__nav-item:not(:last-child) {
    margin-right: 40px;

    @media (max-width: ($vp-768)) {
        margin: 0 0 53px 0;
    }
}

.header__nav-link {
    position: relative;
    padding: 3px 0 4px 0;
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;

        width: 0px;
        height: 2px;

        background-color: $color-space-shuttle;
        opacity: 0;
        visibility: hidden;

        transition: all $trans-500 ease-out;
    }

    @include hover {
        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
                width: 100%;
                left: 0;
                right: 0;
            }
        }

    }

    @media (max-width: ($vp-768)) {
        font-size: 32px;
        line-height: 125%;
    }
}


.header__right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__theme-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 8px;
  border: 1px solid $color-tide;
  border-radius: 100px;
  margin-right: 24px;

  @include vp-767 {
    margin-right: 11px;
  }
}

.header__theme {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  transition: $trans-300 ease-in;
  transition-property: all;

  &.header__theme--light {
    color: $color-pearl-bush;
    background: $color-sandrift;
  }

  &.header__theme--dark {
    background-color: $color-transparent;
    color: $color-space-shuttle;

    @include hover {
      &:hover {
        color: $color-pearl-bush;
        background-color: $color-makara;
      }
    }
  }

  @media (max-width: ($vp-768)) {
    width: 44px;
    height: 40px;
  }
}

.header__menu-link {
    display: block;
    padding: 10px 29px 3px 0;
    position: relative;
    user-select: none;
    align-self: start;

    grid-column: 5 / 6;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/svg/coffee-cup.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.is-active {
        border-bottom: 2px solid $color-space-shuttle;
        pointer-events: none;
    }

    @media (max-width: ($vp-768)) {
        display: block;
        grid-column: 1 / -1;
        justify-self: center;
        font-size: 32px;
        line-height: 125%;
        padding: 0 55px 0 0;

        &::before {
            width: 40px;
            height: 40px;
            top: 0;
        }
    }
}

.header__menu-link--home {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;

        width: 0px;
        height: 2px;

        background-color: $color-space-shuttle;
        opacity: 0;
        visibility: hidden;

        transition: all $trans-500 ease-out;
    }

    @include hover {
        &:hover {
            &::after {
                opacity: 1;
                visibility: visible;
                width: 100%;
                left: 0;
                right: 0;
            }
        }
    }

    @media (max-width: ($vp-768)) {
        display: none;
    }
}

.header__menu-link--nav {
  display: none;

      @media (max-width: ($vp-768)) {
        display: block;
        margin-top: 44px;
      }
}

.header__button {
    display: none;

    @media (max-width: ($vp-768)) {
        display: block;
        width: 44px;
        height: 44px;
        background-color: $color-transparent;
        border: 1px solid $color-makara;
        border-radius: 100px;
        padding: 0;
        cursor: pointer;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 12px;
            width: 18px;
            height: 1.5px;
            background-color: $color-space-shuttle;
            transition: $trans-300 ease-in;
            transition-property: top, transform;

            transition-delay: $trans-300, 0s;

            border-radius: 2px;
        }

        &::before {
            top: 16px;
        }

        &::after {
            top: 24px;
        }
    }
}
